* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins;
}

.details {
  /* border: 2px solid black; */
  width: 90%;
  margin: auto;
  position: relative;
  top: 5vh;
  font-family: Poppins;
  margin-top: 2.5rem;
  font-weight: 600;
}

.phone-number {
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
.number {
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #f67082;
}
.restaurant-name2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
.address {
  width: 350px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #636f88;
}
.cuisine-detail {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
.btn-box button {
  border: none;
  background: transparent;
  margin: 59px 76px 15px 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.content {
  position: absolute;
}

.img-fluid img {
  height: calc(100vh - 30rem);
  width: 100%;
}
.carousel .slide img {
  border: 2px solid black;
  height: 60vh;
  object-fit: cover;
}

.carousel-button {
  float: right;
  /* border-radius: 12%; */
  border: none;
  /* background: #fff; */
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
}
.restaurant-name {
  font-family: Poppins;
  margin-top: 2.5rem;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  /* color: #192f60; */
}
.order-button {
  float: right;
  padding: 13px 23px 12px 32px;
  border-radius: 6px;
  background-color: #ce0505;
  border: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.menu-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 196, 153);
  border: 1px solid rgb(239, 136, 136);
  max-width: 60%;
  width: 60%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide the scrollbar */
.menu-modal {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Hide the scrollbar for WebKit */
.menu-modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide the scrollbar for IE and Edge */
.menu-modal {
  -ms-overflow-style: none;
}

.menu-modal .modal-header {
  background-color: rgb(231, 196, 153);
}

.menu-modal .modal-title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.menu-modal .modal-body {
  max-height: 70vh;
  overflow-y: auto
}

/* Hide the scrollbar */
.menu-modal .modal-body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Hide the scrollbar for WebKit */
.menu-modal .modal-body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide the scrollbar for IE and Edge */
.menu-modal .modal-body {
  -ms-overflow-style: none;
}

.menu-modal .card {
  border: none;
  width: 100%;
  margin: 15px 0; /* Adjust margin here */
}

.menu-modal .card-body {
  padding: 15px;
}

.menu-modal .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-modal .card-subtitle {
  font-size: 18px;
  color: #61b246;
}

.menu-modal .card-text {
  font-size: 14px;
}
.menu-modal .add-button {
  width: 71px;
  height: 29px;
  padding: 4px 20px 4px 19px;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 0px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  color: #61b246;
  cursor: pointer;
  border-radius: 6px;
}

.rectangle-3352 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.rectangle-3352 span {
  font-size: medium;
}

.subtotal-price {
  font-size: 2vw;
  font-weight: bold;
}

.rectangle-3353 {
  padding: 1.4vw 1.2vw;
  margin: 0 5px 0 10px;
  border-radius: 6px;
  background-color: #ce0505;
  border: none;
  font-family: Poppins;
  font-size: medium;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.menu-modal .modal-content {
  max-height: 90vh;
}

.menu-modal .modal-footer {
  padding: 0;
  margin: 0.25rem;
}

.react-tabs {
  margin-top: 1em;

  .btn-div {
    border: 2px solid black;
    margin-bottom: 10px;
  }

  .tab-btn {
    background-color: red;
    color: white;
    font-size: small;
    padding: 8px;
    border-radius: 5px;
    border: none;
    float: right;
  }
}


.pay-btn {
  float: right;
  margin-top: 1.5em;
  /* border: 1px solid black; */
  background-color: red;
  color: white;
  font-weight: 600;
  width: 6vw;
  height: 6vh;
  border-radius: 6px;
  border: none;
}

.gallery-button {
  padding: 13px 13px 12px 16px;
  border: none;
  opacity: 0.8;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  /* color: #192f60; */
  float: right;
  margin-top: -64px;
  margin-right: 10px;
}

/* Mobile Responsiveness */

@media screen and (max-width: 768px) {
  div.restaurant-name {
    font-size: 20px;
  }
  img.detail-img {
    height: 191px;
  }
  button.gallery-button {
    padding: 10px 14px 9px 15px;
    font-size: 13px;
  }
  button.order-button {
    padding: 10px 15px 10px 16px;
    font-size: 14px;
    margin-top: 40px;
  }
  div.btn-box button {
    font-size: 14px;
  }
  div.restaurant-name2 {
    font-size: 16px;
  }
  div.cuisine-detail {
    font-size: 14px;
  }
  div.address {
    font-size: 14px;
  }
  div.phone-number {
    font-size: 14px;
  }
  div.number {
    font-size: 14px;
  }
  button.carousel-closebutton {
    position: absolute;
    right: 1%;
    top: 10%;
  }
  div.menu-content {
    width: 290px;
  }
}
@media screen and (max-width: 465px) {
  div.btn-box button {
    margin-right: 50px;
  }
  button.carousel-closebutton {
    position: absolute;
    right: 1%;
    top: 15%;
  }
}
@media screen and (max-width: 413px) {
  div.btn-box button {
    margin-right: 20px;
  }
}
