.login-modal {
  /* border: 2px solid black; */
  text-align: center;
  overflow: hidden;
}

.login-modal h2 {
  font-weight: 900;
  margin-bottom: 2rem;
}

.login-modal label {
  font-weight: bold;
  /* margin-right: 18px; */
}
.login-modal .email {
  margin-left: 25px;
}
.login-modal input {
  margin-bottom: 5px;
  border-radius: 3px;
  margin-left: 2px;
  /* border: none; */
}
.login-modal .login-btn {
  padding: 0.6em;
  margin: 0.6em;
  width: 6vw;
  border-radius: 10px;
  background-color: #ce0505;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
}
.login-modal .cancel-btn {
  padding: 0.6em;
  margin: 0.6em;
  width: 6vw;
  border-radius: 10px;
  background-color: #ce0505;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
}

.GoogleLogin {
  /* border: 2px solid black; */
  margin-left: 31%;
}

.kep-login-facebook.metro {
  border-radius: 5px !important;
  font-size: 86%;
  text-transform: none;
  padding: 1.8%;
  width: 10vw;
  margin-top: 2%;
}
